{% extends "template.html" %} {% block meta %}
<title>LGBT Law KC</title>
<meta content="" name="description" />
<meta content="" name="keywords" />
{% endblock %} {% block content %} {% include "parts/intro.html" %}

<main id="main">
  {% include "parts/about-section.html" %} {% include
  "parts/services-section.html" %} {% include "parts/counter-section.html" %} {%
  include "parts/portfolio-section.html" %} {% include
  "parts/testimonials-section.html" %} {% include "parts/blog-section.html" %}
  {% include "parts/contact-section.html" %}
</main>
<!-- End #main -->

{% endblock %}
